img{
  height: 200px;
  width: 180px;
  box-shadow: 5px 5px 10px gray;
}
.profile{
  display: inline-flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content:space-around;
  background-color: #f1f1f1;
}
.profile > div{
  border: 1px solid black;
  width: 20%;
  height:160px;
  padding: 20px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
}
